.Card {
  width: 304px;
  padding: 20px 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  background: #f8f8f8;
}
.cardimg {
  width: 266px;
}
.Card_container {
  padding: 30px 49px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 1140px;
  margin: auto;
}
.offer {
  background: rgba(235, 49, 49, 0.1);
  font-family: "Moderat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #eb3131;
  font-family: "Moderat";
  padding: 2%;
  border-radius: 15px;
}
.wishlist {
  width: 35px;
  margin-bottom: 19%;
}
.Audio {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  background: rgba(65, 61, 238, 0.1);
  color: #413dee;
  margin: 20px 84px 20px 0px;
}
.cardtxt {
  font-family: "Heldane Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}

.desc {
  font-family: "Heldane Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.addCart {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 32px;
  /* margin: 44px 52px 34px 5px; */
}

.buybutton {
  font-family: "Moderat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  background: #413dee;
  color: white;
  padding: 8px 42px;
}
@media only screen and (max-width: 1130px) {
  .Card_container {
    width: auto;
    text-align: center;
    margin: auto;
  }
  .Card {
    margin: auto;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 384px) {
  .Card {
    width: auto;
  }
}
